name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            cmake \
            lua5.4 \
            liblua5.4-dev \
            luarocks \
            check \
            pkg-config

          sudo luarocks install busted

      - name: Build
        run: make build

      - name: Run C tests
        run: make ctest

      - name: Run Lua tests
        run: make luatest

      - name: Run all tests
        run: make test
